<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mapper.SchoolInfoMapper">

    <!--办学条件-->
    <select id="selectSchoolCondition" resultType="com.entity.SchoolConditionEntity">
      SELECT * FROM school_condition order by applyTime desc
    </select>
    <select id="selectSchoolConditionById" resultType="com.entity.SchoolConditionEntity">
      SELECT * FROM school_condition where id = #{id}
    </select>
    <delete id="deleteSchoolCondition">
      delete from school_condition where id = #{id}
    </delete>
    <insert id="addSchoolCondition" parameterType="com.entity.SchoolConditionEntity" useGeneratedKeys="true" keyProperty="id">
    insert into school_condition(
    diningSeats,
    bookNum,
    readSeats,
    computerNum,
    totalDebt,
    teachMachineMoney,
    teachMachineNum,
    schoolID,
    applyTime
    )values(
    #{diningSeats},
    #{bookNum},
    #{readSeats},
    #{computerNum},
    #{totalDebt},
    #{teachMachineMoney},
    #{teachMachineNum},
    #{schoolID},
    #{applyTime}
    )
    </insert>
    <update id="updateSchoolCondition">
    update school_condition set
    diningSeats = #{diningSeats},
    bookNum = #{bookNum},
    readSeats = #{readSeats},
    computerNum = #{computerNum},
    totalDebt = #{totalDebt},
    teachMachineMoney = #{teachMachineMoney},
    teachMachineNum = #{teachMachineNum}
    where id = #{id}
    </update>





    <!--专业与课程建设-->
    <select id="selectMajorCorse" resultType="com.entity.MajorCorseEntity">
      SELECT * FROM major_course order by applyTime desc
    </select>
    <delete id="deleteMajorCorse">
      delete from major_course where id = #{id}
    </delete>
    <insert id="addMajorCorse" parameterType="com.entity.MajorCorseEntity" useGeneratedKeys="true" keyProperty="id">
    insert into major_course(
    majorNum,
    majorDirNum,
    majorCourseNum,
    textbookNum,
    schoolID,
    applyTime
    )values(
    #{majorNum},
    #{majorDirNum},
    #{majorCourseNum},
    #{textbookNum},
    #{schoolID},
    #{applyTime}
    )
    </insert>
    <update id="updateMajorCorse">
    update major_course set
    majorNum = #{majorNum},
    majorDirNum = #{majorDirNum},
    majorCourseNum = #{majorCourseNum},
    textbookNum = #{textbookNum}
    where id = #{id}
    </update>
    <select id="selecteMajorCorseById" resultType="com.entity.MajorCorseEntity">
      SELECT * FROM major_course where id = #{id}
    </select>




    <!--参与职教集团情况-->
    <select id="selectTeachCondition" resultType="com.entity.TeachConditionEntity">
      SELECT * FROM teach_condition order by applyTime desc
    </select>
    <select id="selectTeachConditionById" resultType="com.entity.TeachConditionEntity">
      SELECT * FROM teach_condition where id = #{id}
    </select>
    <delete id="deleteTeachCondition">
      delete from teach_condition where id = #{id}
    </delete>
    <insert id="addTeachCondition" parameterType="com.entity.TeachConditionEntity" useGeneratedKeys="true" keyProperty="id">
    insert into teach_condition(
    teachCompany,
    teachSchool,
    teachProfessional,
    teachNum,
    schoolID,
    applyTime
    )values(
    #{teachCompany},
    #{teachSchool},
    #{teachProfessional},
    #{teachNum},
    #{schoolID},
    #{applyTime}
    )
    </insert>
    <update id="updateTeachCondition">
    update teach_condition set
    teachCompany = #{teachCompany},
    teachSchool = #{teachSchool},
    teachProfessional = #{teachProfessional},
    teachNum = #{teachNum}
    where id = #{id}
    </update>




    <!--国际合作-->
    <select id="selectColInternational" resultType="com.entity.ColInternationalEntity">
      SELECT * FROM col_international order by applyTime desc
    </select>
    <select id="selectColInternationalById" resultType="com.entity.ColInternationalEntity">
      SELECT * FROM col_international where id = #{id}
    </select>
    <delete id="deleteColInternational">
      delete from col_international where id = #{id}
    </delete>
    <insert id="addColInternational" parameterType="com.entity.ColInternationalEntity" useGeneratedKeys="true" keyProperty="id">
    insert into col_international(
    coProfess,
    trainStudent,
    receiveForgin,
    goAbroad,
    abordCourse,
    abordTeach,
    corSchool,
    schoolID,
    applyTime
    )values(
    #{coProfess},
    #{trainStudent},
    #{receiveForgin},
    #{goAbroad},
    #{abordCourse},
    #{abordTeach},
    #{corSchool},
    #{schoolID},
    #{applyTime}
    )
    </insert>
    <update id="updateColInternational">
    update col_international set
    coProfess = #{coProfess},
    trainStudent = #{trainStudent},
    receiveForgin = #{receiveForgin},
    goAbroad = #{goAbroad},
    abordCourse = #{abordCourse},
    abordTeach = #{abordTeach},
    corSchool = #{corSchool}
    where id = #{id}
    </update>



    <!--校企合作-->
    <select id="selectSchoolCompany" resultType="com.entity.SchoolCompanyEntity">
      SELECT * FROM school_company order by applyTime desc
    </select>
    <select id="selectSchoolCompanyById" resultType="com.entity.SchoolCompanyEntity">
      SELECT * FROM school_company where id = #{id}
    </select>
    <delete id="deleteSchoolCompany">
      delete from school_company where id = #{id}
    </delete>
    <insert id="addSchoolCompany" parameterType="com.entity.SchoolCompanyEntity" useGeneratedKeys="true" keyProperty="id">
    insert into school_company(
    trainingBase,
    companyNum,
    majorNum,
    teacherNum,
    hourNum,
    totalMoney,
    totalFacility,
    schoolID,
    applyTime
    )values(
    #{trainingBase},
    #{companyNum},
    #{majorNum},
    #{teacherNum},
    #{hourNum},
    #{totalMoney},
    #{totalFacility},
    #{schoolID},
    #{applyTime}
    )
    </insert>
    <update id="updateSchoolCompany">
    update school_company set
    trainingBase = #{trainingBase},
    companyNum = #{companyNum},
    majorNum = #{majorNum},
    teacherNum = #{teacherNum},
    hourNum = #{hourNum},
    totalMoney = #{totalMoney},
    totalFacility = #{totalFacility}
    where id = #{id}
    </update>


    <!--学校信息申报-->
    <select id="selectSchoolDeclareInfo" resultType="com.entity.SchoolDeclareInfoEntity">
      SELECT * FROM school_declareInfo where processStatus = #{processStatus} order by applyTime desc
    </select>
    <select id="selectSchoolDeclareInfoBySchoolID" resultType="com.entity.SchoolDeclareInfoEntity">
      SELECT * FROM school_declareInfo where schoolID = #{schoolID}
    </select>
    <delete id="deleteSchoolDeclareInfoBySchoolID">
      delete from school_declareInfo where schoolID = #{schoolID}
    </delete>
    <insert id="addSchoolDeclareInfo" parameterType="com.entity.SchoolDeclareInfoEntity" useGeneratedKeys="true" keyProperty="id">
    insert into school_declareInfo(
    schoolID,
    teacherNum,
    studentNum,
    courseNum,
    courseType,
    trainNum,
    trainType,
    schoolCompanyNum,
    colInternationalNum,
    projectNum,
    projectType,
    projectPlanStatus,
    processStatus,
    applyTime
    )values(
    #{schoolID},
    #{teacherNum},
    #{studentNum},
    #{courseNum},
    #{courseType},
    #{trainNum},
    #{trainType},
    #{schoolCompanyNum},
    #{colInternationalNum},
    #{projectNum},
    #{projectType},
    #{projectPlanStatus},
    #{processStatus},
    #{applyTime}
    )
    </insert>
    <update id="updateSchoolDeclareInfo">
    update school_declareInfo set
    teacherNum = #{teacherNum},
    studentNum = #{studentNum},
    courseNum = #{courseNum},
    courseType = #{courseType},
    trainNum = #{trainNum},
    trainType = #{trainType},
    schoolCompanyNum = #{schoolCompanyNum},
    colInternationalNum = #{colInternationalNum},
    projectNum = #{projectNum},
    projectType = #{projectType},
    projectPlanStatus = #{projectPlanStatus},
    processStatus = #{processStatus},
    applyTime = #{applyTime}
    where applyID = #{applyID}
    </update>
</mapper>