<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mapper.StudentConditionMapper">

    <!--学生基本情况-->
    <select id="selectStudentCondition" resultType="com.entity.StudentConditionEntity">
      SELECT * FROM student_condition order by applyTime desc
    </select>
    <select id="selectStudentConditionById" resultType="com.entity.StudentConditionEntity">
      SELECT * FROM student_condition where id = #{id}
    </select>
    <delete id="deleteStudentCondition">
      delete from student_condition where id = #{id}
    </delete>
    <insert id="addStudentCondition" parameterType="com.entity.StudentConditionEntity" useGeneratedKeys="true" keyProperty="id">
    insert into student_condition(
    calssNum,
    countryWin,
    provincialWin,
    cityWin,
    schoolID,
    applyTime
    )values(
    #{calssNum},
    #{countryWin},
    #{provincialWin},
    #{cityWin},
    #{schoolID},
    #{applyTime}
    )
    </insert>
    <update id="updateStudentCondition">
    update student_condition set
    calssNum = #{calssNum},
    countryWin = #{countryWin},
    provincialWin = #{provincialWin},
    cityWin = #{cityWin}
    where id = #{id}
    </update>




</mapper>